<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true" throwConfigExceptions="true" 
        internalLogFile="nlog.log" internalLogLevel="Debug">

    <targets>
        <target name="consoleLog" xsi:type="Console" />
        <target name="fileLog" xsi:type="File" fileName="alog.txt" />
    </targets>

    <rules> 
        <logger name="*" minlevel="Info" writeTo="consoleLog, fileLog" />
    </rules>
</nlog>